.RadioPlayerFunction {
  margin-left: 5%;
  margin-right: 5%;
}

header{
  background-position: center top;
  margin: 10px;
  background-color: white;
}

header img{
  width: 60%;
  margin: 2%;
}


.allStations{
  display: flex;
  flex-wrap: wrap;
}
